.digital-news-paper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.headline-teaser {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 20px;
    z-index: 3;
}
